@page "/"

<h3>Dual Select Example</h3>
<h5 class="mt-2">Make your selection</h5>
<DualSelect @ref="dualSelect" Items="Items"></DualSelect>
<button class="btn btn-primary mt-2" @onclick="Next">Next</button>

<h5 class="mt-2">The following were selected:</h5>
<ul>
    @foreach (Item item in resultList)
    {
        <li id="@item.Id">@item.Value</li>
    }

</ul>