<div class="container">
    <div class="row">
        <div class="col-3">
            <select id="NotSelected" class="form-control border" multiple="multiple" size="@BoxHieght" style="width:@BoxWidth">
                @foreach (var option in Options)
                {
                    <option @onclick="@(() => Select(option))" value="@option.Value">@option.Text</option>
                }
            </select>
        </div>
    </div>
</div>



